<!doctype html>
<html>
<head>
    <title>Matematchni Studii, V.40, No.1, 2013</title>
<meta content="text/html; charset=windows-1251" http-equiv=content-type>
<link href="style.css" rel="stylesheet" type="text/css">
<script type='text/x-mathjax-config'>
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
</head>
<body>
<h1>
    Matematchni Studii<br>
    Vol. 40, No.1, 2013
</h1>
<h2>
    CONTENTS
</h2>

<table>
    <tr>
        <td>
            <a href=3-10.html>Unique quivers (In Ukrainian)</a><br>
            <i>Kirichenko V. V., Zelensky A. V. </i>
        </td>
        <td>
            <a href=3-10.html>3</a>
        </td>
    </tr>
</table>

<h2>
    RESEARCH ANNOUNCEMENTS
</h2>

<table>
    <tr>
        <td>
            <a href=3-10.html>Unique quivers (In Ukrainian)</a><br>
            <i>Kirichenko V. V., Zelensky A. V. </i>
        </td>
        <td>
            <a href=3-10.html>3</a>
        </td>
    </tr>
</table>

<h2>
    PROBLEMS
</h2>

<table>
    <tr>
        <td>
            <a href=3-10.html>Unique quivers (In Ukrainian)</a><br>
            <i>Kirichenko V. V., Zelensky A. V. </i>
        </td>
        <td>
            <a href=3-10.html>3</a>
        </td>
    </tr>
</table>

<h2>
    CHRONICLE
</h2>

<table>
    <tr>
        <td>
            <a href=3-10.html>On the book of V. T. Ryabukha ``Fermat's last theorem. Three elementary proofs''(in Ukrainian)</a><br>
            <i>Zarichnyi M. М.  </i>
        </td>
        <td>
            <a href=3-10.html>223</a>
        </td>
    </tr>

</table>


<hr>
<p class="right">Matematchni Studii <br>
<a href="http://matstud.org.ua">matstud.org.ua</a></p>
</body>
</html>
