<!doctype html>
<html>
<head>
<meta content="text/html; charset=windows-1251" http-equiv="Content-Type">
<title>Title of Article</title>
<meta name="citation_title" content="Title of article">
<meta name="citation_author" content="A. A. Author1, P. A. Author2">
<meta name="citation_publication_date" content="2013/04/09"><!--Date of publication-->
<meta name="citation_journal_title" content="Matematychni Studii">
<meta name="citation_volume" content="35"><!--Volume of journal-->
<meta name="citation_pages" content="3-8">
<meta name="citation_pdf_url" content="http://matstud.org.ua/texts/2011/35_1/3-8.pdf">
<meta name="citation_abstract_html_url" content="http://matstud.org.ua/texts/2011/35_1/3-8.html">
<link href="style.css" rel="stylesheet" type="text/css">
<script type='text/x-mathjax-config'>
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
</head>
<body>
<table>
    <tr>
        <td class="left"></td>
        <td class="right">
            <h1>Title of Article</h1>
        </td>
    </tr>
    <tr>
        <td class="left">Author</td>
        <td class="right">
            <div class="author">A. M. Author1, P. A. Author2</div>
            <div class="email">1@yahoo.com, 2@rambler.ru</div>
            <div class="work">Lviv Polytechnic National University,
                Lviv National University</div>

        </td>
    </tr>
    <tr>
        <td class="left">
             Abstract
        </td>
        <td class="right">
             <div class="abstract">
                  A version of Carleman's formula for functions holomorphic in a rectangle is proved. It is
    applied to the evaluation of the integral of $\zeta$-function logarithm with the summing factor
    $\exp(-t)$ along the critical line. This allowed to obtain a new statement equivalent to the
    riemann hypothesis.
             </div>
        </td>
    </tr>
    <tr>
        <td class="left">Keywords</td>
        <td class="right">
            <div class="keywords">$\zeta$-function; Carleman's Formula</div>
        </td>
    </tr>
    <tr>
        <td class="left">Reference</td>
        <td class="right">
            <div class="references">
                1. Beklemishev D.V. Di?erential geometry of spaces with almost complex structure// Akad. Nauk SSSR.
                Inst. Naun. Informacii, Geometry. – 1965. – P. 165–212. (in Russian)
                <br><br>
                2. Mikes J., Vanzurova A., Hinterleitner I., Geodesic Mappings and Some Generalizations, Palacky Univer-
                sity, Olomouc, Faculty of Science, Olomouc, 2009.
                <br><br>
                3. Otsuki T., Tashiro Y. On curves in Kaehlerian spaces// J. Okayama Univ. – 1954. – V.4. – P. 57–78.
                <br><br>
                4. Sinyukov N.S. Geodesic mappings of Riemannian spaces. – Moscow, Nauka, 1979. – 256 p. (in Russian)
                <br><br>
                5. Shirokov A.P. Spaces over algebras and their applications// Itogi Nauki Tekh., Ser. Sovrem. Mat. Prilozh.,
                Temat. Obz. – 2002. – V.73. – P. 135–161. (in Russian)
                <br><br>
                6. Vishnevskij V.V. Integrable a?nor structures and their plural interpretations// Itogi Nauki Tekh., Ser.
                Sovrem. Mat. Prilozh., Temat. Obz. – 2002. – V.73. – P. 5–64. (in Russian)
                <br><br>
                7. Mikes J., Sinyukov N.S. On quasiplanar mappings of spaces of a?ne connections// Izv. Vysch. Uchebn.
                Zaved. Mat. – 1983. – V.248, №1. – P. 55–61. (in Russian)
                <br><br>
                8. Kurbatova I.N. About 4-quasiplanar mappings of almost quaternion manifolds. On quasiplanar mappings
                of spaces of a?ne connections// Izv. Vysch. Uchebn. Zaved. Mat. – 1986. – №1. – P. 75–78. (in Russian)
            </div>
        </td>
    </tr>
    <tr>
        <td class="left">Pages</td>
        <td class="right">
            <div class="pages">
                3-8
            </div>
        </td>
    </tr>
    <tr>
        <td class="left">Volume</td>
        <td class="right">
            <div class="volume">35</div>
        </td>
    </tr>
    <tr>
        <td class="left">Issue</td>
        <td class="right">
            <div class="issue">2</div>
        </td>
    </tr>
    <tr>
        <td class="left">Year</td>
        <td class="right">
            <div class="year">2010</div>
        </td>
    </tr>
    <tr>
        <td class="left">Journal</td>
        <td class="right">
            <div class="journal">Matematychni Studii</div>
        </td>
    </tr>
    <tr>
        <td class="left">Full text of paper</td>
        <td class="right">
            <div class="ref">
                <a href="http://matstud.org.ua/texts/2011/35_1/3-8.pdf">pdf</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="left">Table of content of issue</td>
        <td class="right">
            <div class="ref_abstract">
                <a href="http://matstud.org.ua/texts/2011/35_1/index.html">html</a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
